h1 {
    color: rgb(119, 3, 3);
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

#header1 {
    color: rgb(20, 2, 82);
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

#blog h1{
    color: rgb(21, 158, 9);
    font-size: 10px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

#footer h1 {
    color: rgb(23, 100, 187);
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

a:hover {
    color: rgb(197, 16, 158);
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

table {
    width: 50%;
    border-collapse: collapse;
    border-left-color: aquamarine;
    border-left-width: 5px;
    border-left-style: solid;
    border-right-color: rgb(52, 17, 179);
    border-right-width: 5px;
    border-right-style: solid;
    border-top-color: aquamarine;
    border-top-width: 5px;
    border-top-style: solid;
    border-bottom-color: rgb(14, 59, 155);
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

a {
    color: rgb(54, 202, 25);
    font-size: 20px;
    font-family: "Courier New", monospace;
}